#{extends 'main.html' /}
#{set title:'Home' /}

<h1> Simple test merchant. Enter payment price and text description.</h1>

#{form @DummyMerchant.pay()}
<table>
    <tr>
        <td>
            <label>Payment gateway URL:</label>
        </td>
        <td>
            <input type="text" name="paymentURL" value="${paymentURL}"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Merchant id:</label>
        </td>
        <td>
            <input type="text" name="merchantId" value="${merchantID}"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Terminal id:</label>
        </td>
        <td>
            <input type="text" name="terminalId" value="${terminalID}"/>
        </td>
    </tr>


    <tr>
        <td>
            <label>Merchant secret:</label>
        </td>
        <td>
            <input type="text" name="secret" value="${merchantSecret}"/>
        </td>
    </tr>

    <tr>
        <td>
            <label>Memo:</label>
        </td>
        <td>
            <input type="text" name="memo"/>
        </td>
    </tr>

    <tr>
        <td>
            <label>Amount:</label>
        </td>
        <td>
            <input type="text" name="amount"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Endpoint:</label>
        </td>
        <td>
            <select name="requestType">
                <option value="SIGNATURE">/doPayment (with MD5 signature)</option>
                <option value="ENCRYPTED">/secureDoPayment (with 3DES paramter encryption)</option>
            </select>
        </td>
    </tr>



</table>
<button type="submit">Buy!</button>
#{/form}